.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #333;
}

input, select, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 5px;
    &.error {
        border-color: red;
        &:focus {
            outline: red;
        }
    }
}

textarea {
    resize: vertical;
}

.field-error-message {
    color: red;
    font-size: 12px;
    font-weight: 100;
}

.form-footer {
    display: flex;
    justify-content: center; /* Center align the buttons */
    gap: 20px; /* Add spacing between buttons */
    margin-top: 20px;
}

.save-btn, .cancel-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.save-btn {
    background-color: #28a745;
    color: white;
}

.save-btn:hover {
    background-color: #218838;
}

.cancel-btn {
    background-color: #dc3545;
    color: white;
}

.cancel-btn:hover {
    background-color: #c82333;
}